html,
body,
ul {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Chivo Mono", monospace;
    background: antiquewhite;
}

h1 {
    margin-block: 0 30px;
    text-decoration: underline;
    color: darkslategrey;
}

ul {
    list-style: none;
}

.container {
    padding-block: 30px;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 40px;
    margin: auto;
}

#recipe-container,
#meals-container {
    padding: 20px;
    border: 3px solid darkgrey;
    border-radius: 20px;
    min-height: 200px;
    min-width: 200px;
}

#meals-container {
    padding-bottom: 100px;
}

#recipe-list,
#meals-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipe-item {
    font-size: clamp(20px, 2.5vw, 26px);
    border: 3px solid darkgrey;
    padding: 10px;
    display: flex;
    width: fit-content;
    border-radius: 20px;
    background: lightblue;
    color: darkslategray;
    transition: opacity 0.2s ease;
    cursor: grab;
}

.dragged {
    opacity: 0.4;
}

.drag-over {
    border-style: dashed !important;
}
